*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#000;
    --cor2:#fff;
    --cor3:#f0acac;
    --cor4:#ccc;
}
body{
    margin-top: 30px;
    background-color: var(--cor3);
}
main{  
    height: 400px;
    width: 300px;
     margin: auto;
      background-color: var(--cor2);
    box-shadow: 5px 0px 20px 10px #0000001a;
    border-radius: 10px;
    text-align: center;
}
header{
    margin:auto;
    border-radius:10px 10px 0px 0px ;
    background-color: var(--cor4);
    box-shadow: 5px 0px 20px 10px #0000001a;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    text-align: center;
    text-shadow: #3e424273 2px 3px 20px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    margin-left:10px ;
    padding: 5px;
    text-shadow: #3e424273 2px 3px 20px;
}
input#conta{
    box-shadow: 5px 0px 20px 10px #0000001a;
    width: 40px;
    border-radius: 10%;
}
select#serviço{
    width: 160px;
    height: 40px;
    box-shadow: 5px 0px 20px 10px #0000001a;
    border-radius: 5%;
}
input#pessoas{
    width: 40px;
    height: 25px;
    box-shadow: 5px 0px 20px 10px #0000001a;
    border-radius: 10%;
}
p>button{
    width: 190px;
    height: 50px;
    margin: 10px 10px 10px 30px ;
    background-color: var(--cor3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    box-shadow: 5px 0px 20px 10px #0000001a;
    border-radius: 5%;
    text-shadow: #3e424273 2px 3px 20px;
}
#conta:focus{
    border:5px solid var(--cor3);
    outline: none;
}
#pessoas:focus{
    border:5px solid var(--cor3);
    outline: none;
}
#serviço:focus{
    border:5px solid var(--cor3);
    outline: none;
}